<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        AI Career Recommender
    </h1>

    <form action="/recommend" method="POST">

        <label>Country</label>

        <select name="country">

            <option>UAE</option>

            <option>USA</option>

            <option>Brazil</option>

            <option>India</option>

            <option>Germany</option>

            <option>Japan</option>

            <option>Australia</option>

            <option>France</option>

            <option>Singapore</option>

            <option>Netherlands</option>

            <option>Canada</option>

            <option>UK</option>

        </select>


        <label>Experience years</label>

        <input type="number" name="experience">


        <label>Education</label>

        <select name="education">

            <option>Diploma</option>

            <option>Bachelor</option>

            <option>Bootcamp</option>

            <option>Master</option>

            <option>PhD</option>

        </select>


        <label>AI Specialization</label>

        <select name="specialization">

            <option>Analytics</option>

            <option>Computer Vision</option>

            <option>NLP</option>

            <option>Reinforcement Learning</option>

            <option>LLM</option>

            <option>MLOps</option>

            <option>Forecasting</option>

            <option>Generative AI</option>

        </select>


        <label>Work Mode</label>

        <select name="workmode">

            <option>Remote</option>

            <option>On-site</option>

        </select>


        <label>Industry</label>

        <select name="industry">

            <option>Automotive</option>

            <option>Retail</option>

            <option>Healthcare</option>

            <option>Tech</option>

            <option>Consulting</option>

            <option>Telecom</option>

            <option>Energy</option>

            <option>Gaming</option>

            <option>Education</option>

            <option>Finance</option>

        </select>


        <label>Weekly Hours</label>

        <input type="number" name="hours">

        <button>

            Recommend

        </button>

        {% if recomendaciones %}

        {% for rec in recomendaciones %}

        <div class="card">

            <h2>{{rec.job_role}}</h2>

            <p>Salary: {{rec.salary_usd}}</p>

            <p>Country: {{rec.country}}</p>

            <p>Industry: {{rec.industry}}</p>

            <p>Match: {{rec.match_score_pct}}%</p>

            <p>Skill Gap: {{rec.skill_gap}}</p>

        </div>

        {% endfor %}

        {% endif %}

    </form>
</body>

</html>